<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Posts by <%= @user.name %></h2>
<% @user.posts.each do |post| %>
    <li>
        <%= link_to post.title, user_post_path(@user, post) %>
    </li>
<% end %>

<h2>Add a post:</h2>
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>