<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<ul>
  <li><%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments by <%= @post.title %></h2>
<% @post.comments.each do |comment| %>
    <li>
        <%= link_to comment.content, post_comment_path(@post, comment) %>
    </li>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>