<div class="container-fluid">
  <div class="d-flex">
    <h1>Post Details</h1>
  </div>

  <p>Title: <%= @post.title %></p>
  <p>Content: <%= @post.content %></p>

  <div class="btn btn-danger btn-sm">
                <%= link_to "Delete", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                }, :class => "btn" %>
  </div>

  <h2>Comments</h2>

  <table class="table table-sm table-bordered align-middle">
    <thead>
    </thead>
    <tbody>
      <% @post.comments.each do |comment| %>
          <tr>
            <td styles="font-size: 20px;">
              <%= comment.content%>
            </td>

          </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <hr>
  <h2>Add a comment:</h2>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <div class="mb-3">
        <%= form.label :content, :class => "form-label" %><br>
        <%= form.text_area :content, :class => "form-control" %>
      </div>
      <div class="btn">
        <%= form.submit %>
      </div>
  <% end %>

</div>
